#logoDiv {
    text-align: center;
}
#linksDiv {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 3%;
}
.links {
    color: black;
    text-decoration: none;
    padding: 1%;
}
.links:hover {
    color: rgb(0, 196, 150);
}


#headDiv{
    width: max-content;
    margin: 0 auto;
    background-color: rgb(39, 39, 39);
    padding-left: 2%;
    padding-right: 2%;
}
#galleryHead {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#galleryDiv{
    margin: 0 auto;
    width: 70%;
    padding: 0;
    margin-bottom: 4%;
}
.gallMiniDiv{
    display: inline-block;
    width: 31.1%;
    padding: 0.5%;
}
.gallImg {
    width: 100%;
    border: 1px solid black;
}


#footer {
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 3%;
    margin-bottom: 3%;
}
#footerParaDiv {
    text-align: left;
    justify-content: left;
    display: inline-block;
    padding-left: 8%;
}
#footerPara {
    font-size: 100%;
}
#footerIconDiv {
    padding-right: 6%;
    display: inline;
    float: right;
    text-align: right;
    width: 40%;
    margin-top: 0%;
}
.iconForms {
    display: inline;
    padding: 2%;
}
.icons{
    background-size: 100%;
    padding: 4%;
    border: 0;
    justify-content: right;
}
#twitter{
    background-image: url("../images/images/icons/icon-twitter.jpg");
}
#twitter:hover{
    background-image: url("../images/images/icons/icon-twitter-hover.jpg");
}
#facebook{
    background-image: url("../images/images/icons/icon-facebook.jpg");
}
#facebook:hover{
    background-image: url("../images/images/icons/icon-facebook-hover.jpg");
}
#googleplus{
    background-image: url("../images/images/icons/icon-googleplus.jpg");
}
#googleplus:hover{
    background-image: url("../images/images/icons/icon-googleplus-hover.jpg");
}
#pinterest{
    background-image: url("../images/images/icons/icon-pinterest.jpg");
}
#pinterest:hover{
    background-image: url("../images/images/icons/icon-pinterest-hover.jpg");
}